<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mission To Mars</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <div class="container-fluid">

        <!--Scrape button-->
        <div class="row">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
            </div>

            <!--Display scraped Mars info-->
        </div>

        <!--Latest Mars news headline and brief paragraph-->
        <div class="row header-row">
            Latest Mars News
        </div>

        <div class="row">
            <p class="title">{{mars_info.news_title}}
            <p>
            <p>{{mars_info.news_p}}
            <p>
        </div>

        <!--Featured large size image-->
        <div class="row header-row">
            Featured Mars Image
        </div>

        <div class="row img-row">
            <div class="column" id="featured-img">
                <img src="{{ mars_info.featured_image_url }}" alt="Featured Mars Image">
            </div>
            <div class="column">
                <div class="row">
                    <p class="mars_facts_title">Mars Facts</p>
                </div>
                <div class="row mars-table">
                    {{ mars_info.mars_facts_html | safe}}
                </div>
            </div>
        </div>

        <!--The 4 Mars Hemispheres-->
        <div class="row header-row">
            Mars Hemispheres
        </div>
        <div class="row img-row">
            {% for hemisphere in mars_info.hemisphere_image_urls %}
            <div class="column">
                <div class="card">
                    <img src="{{ hemisphere.image_url }}" class="card-img-top" alt="{{ hemisphere.title }}">
                    <div class="card-body">
                        <p class="title">{{ hemisphere.title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>